<div class="overlay" *ngIf="loading$ | async">
  <mat-progress-spinner class="spinner"></mat-progress-spinner>
</div>
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login Here</h2>
                <p-toast key="tst"></p-toast>
                <form [formGroup]="loginUser" (ngSubmit)="onSubmit()">
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                      <i class="pi pi-user"></i>
                    </span>
                    <input
                      type="text"
                      name="username"
                      formControlName="username"
                      pInputText
                      placeholder="Username"
                      required
                      minlength="4"
                    />
                  </div>
                  <span
                      class="text-danger"
                      *ngIf="registerFormControl['username'].invalid && (registerFormControl['username'].dirty || registerFormControl['username'].touched)"
                    >
                      Username is required 
                  </span>
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                      <i class="pi pi-lock"></i>
                    </span>
                    <input
                      type="password"
                      name="password"
                      formControlName="password"
                      pInputText
                      placeholder="Password"
                      required
                    />
                  </div>
                  <span
                      class="text-danger"
                      *ngIf="registerFormControl['password'].invalid && (registerFormControl['password'].dirty || registerFormControl['password'].touched)"
                    >
                      Password is required 
                  </span>
                  <div class="mt-4">
                    <button type="submit"class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                  </div>
                </form>
                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/signup"
                  class="fw-bold text-body"><u>Sign up here</u></a>
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- <app-child (uDataEvent)="uData($event)"></app-child>  -->