<div class="container">
  <h1>Employee Data</h1>
  <button (click)='toggleShowTable()' class="btn btn-primary mb-4">See Employee Data</button>
  <div>
    <table style="width:100%" *ngIf="showTable">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Company</th>
          </tr>
        <tr *ngFor = "let user of users">
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.company.name}}</td>
        </tr>
    </table>
  </div>
</div>
